<section class="w-full h-screen bg-head bg-cover bg-center flex justify-center items-center">
  <div class="flex flex-col justify-center items-center drop-shadow-2xl" x-data>
      <h2 class="w-4/5 font-bold text-3xl sm:text-5xl lg:text-7xl"><span class="text-red-800">Fly with experienced safe aviators</span> that know the flight training industry.</h2>
      <p class="w-4/5 py-5 lg:py-10 text-xl lg:text-2xl font-semibold">We are a team of aviators that are experts in the flight training industry.  We've been in the business for decades and have the experience to get you safely in the air.  Start your flight training today and see what we're talking about by scheduling a discovery flight.</p>
      <div class="opacity-0 duration-[1500ms] translate-y-24 text-center w-full flex flex-col items-start" x-intersect="$el.classList.add('opacity-100', 'translate-y-1', 'z-0')">
        <%=link_to schedule_call_path, class: "mx-auto" do%>
          <div class="bg-red-800 font-semibold hover:bg-red-700 hover:scale-105 text-white text-xl lg:text-3xl rounded-lg text-center py-2 px-5 transition-all duration-300">
            CONTACT US
          </div>
        <% end %>
      </div>
  </div>
</section>