<%= turbo_frame_tag "frame3", class: "" do %>
  <iframe class="lg:w-4/5 w-full aspect-video mx-auto" loading="lazy" height="315" src="https://www.youtube.com/embed/d1nq8KHXlLs?start=91" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h4 class="text-center italic text-sm">Brian Borton, operations manager, on avionics and upgrades to the aircraft</h4>
<% end %>

